# Cleaning Rock Songs

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns

%matplotlib inline

### 1. Load `rock.csv` and do an initial examination of its data columns.

In [26]:
rockfile = "rock.csv"

In [27]:
# Load the data.
rock = pd.read_csv(rockfile)

In [28]:
# Look at the information regarding its columns.

### 2.  Clean up the column names.

Let's clean up the column names. There are two ways we can accomplish this:

#### 2.A Change the column names when you import the data using `pd.read_csv()`.

Notice that, when passing `names=[..A LIST OF STRING..]` with a number of columns that matches the number of strings in the passed list, you replace the column names.

NOTE: When you create custom column names, the first row of the `.csv` already represents a header. It is important to tell `pandas` to skip that row. The `skiprows=1` keyword argument to `read_csv()` will tell `pandas` to skip the first row.

In [5]:
# Change the column names when loading the '.csv':

#### 2.B Change column names using the `.rename()` function.

The `.rename()` function takes an argument, `columns=name_dict`, in which `name_dict` is a dictionary containing the original column names as keys and the new column names as values.

In [6]:
# Change the column names using the `.rename()` function.

#### 2.C Reassigning the `.columns` attribute of a DataFrame.

You can also just reassign the `.columns` attribute to a list of strings containing the new column names. 

The only caveat with reassigning `.columns` is that you have to reassign all of the column names at once. You can't partially replace a value by working on `.columns` directly. You have to reassign `.columns` with a list of equal length.

In [7]:
# Replace the column names by reassigning the `.columns` attribute.

### 3. Subsetting data where null values exist.

We have mixed `str` and `NaN` values in the `release` column. `NaN` stands for "not a number" and is the way `pandas` handles "nulls" or nonexistent data. We can use the `.isnull()` method of a Series to find null values.

Print the header of the data subset to where the `release` column is null values.

In [8]:
# Show records where df['release'] is null

### 4. Update slices of your DataFrame based on mask selection/slices.

In many scenarios, we want to upate values in our DataFrame according to criteria. Let's say we wanted to set all of the null values in `release` to 0.

With newer versions of `pandas`, in order to manipulate data in the original DataFrame, we have to use `.loc` while performing reassignment using a mask and an index.

For example, the following won't always work:
```python
df[row_mask]['column_name'] = new_value
```

The best way to accomplish the same task is:
```python
df.loc[row_mask, 'column_name'] = new_value
```

For multiple column assignment, you would use:
```python
df.loc[row_mask, ['col_1', 'col_2', 'col_3']] = new_value
```

#### 4.A Let's try it out. Make all of the null values in `release` 0.

In [9]:
# Replace release nulls with 0

#### 4.B Verify that `release` contains no null values.

In [10]:
# A:

### 5. Ensure that the data types of the columns make sense. 

Verifying column data types is a critical part of data munging. If columns have the wrong data type, then there is usually corrupted or incorrect data in some of the observations.

#### 5.A Look at the data types for the columns. Are any incorrect given what the data represents?

In [11]:
# A:

### 6. Investigate and clean up the `release` column.

The `release` column is a string data type when it should be an integer.

#### 6.A Figure out what value(s) are causing the `release` column to be encoded as a string instead of an integer.

In [36]:
# A:
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
Song Clean      2230 non-null object
ARTIST CLEAN    2230 non-null object
Release Year    1653 non-null object
COMBINED        2230 non-null object
First?          2230 non-null int64
Year?           2230 non-null int64
PlayCount       2230 non-null int64
F*G             2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

In [39]:
rock['Release Year'].isnull()#.notnull()

0       False
1        True
2       False
3       False
4       False
        ...
2225     True
2226    False
2227    False
2228    False
2229    False
Name: Release Year, Length: 2230, dtype: bool

In [40]:
rock['PlayCount'] > 20

0        True
1       False
2        True
3       False
4       False
        ...
2225    False
2226     True
2227     True
2228    False
2229    False
Name: PlayCount, Length: 2230, dtype: bool

In [42]:
mask = rock['PlayCount'] > 20
acdc = rock['ARTIST CLEAN'] == 'AC/DC'
rock.loc[acdc]

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
10,"Baby, Please Don't Go",AC/DC,NaN,"Baby, Please Don't Go by AC/DC",1,0,1,0
11,Back In Black,AC/DC,1980,Back In Black by AC/DC,1,1,97,97
12,Big Gun,AC/DC,1993,Big Gun by AC/DC,1,1,6,6
13,CAN'T STOP ROCK'N'ROLL,AC/DC,NaN,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
14,Dirty Deeds Done Dirt Cheap,AC/DC,1976,Dirty Deeds Done Dirt Cheap by AC/DC,1,1,85,85
15,For Those About To Rock,AC/DC,1981,For Those About To Rock by AC/DC,1,1,46,46
16,Girls Got Rhythm,AC/DC,NaN,Girls Got Rhythm by AC/DC,1,0,24,0
17,Hard As A Rock,AC/DC,1995,Hard As A Rock by AC/DC,1,1,1,1
18,Have a Drink On Me,AC/DC,1980,Have a Drink On Me by AC/DC,1,1,39,39
19,Hells Bells,AC/DC,1980,Hells Bells by AC/DC,1,1,74,74
20,Highway To Hell,AC/DC,1979,Highway To Hell by AC/DC,1,1,92,92
21,It's A Long Way To The Top,AC/DC,1975,It's A Long Way To The Top by AC/DC,1,1,39,39
22,Jailbreak,AC/DC,1984,Jailbreak by AC/DC,1,1,1,1
23,Let There Be Rock,AC/DC,1977,Let There Be Rock by AC/DC,1,1,3,3
24,Let's Get It Up,AC/DC,NaN,Let's Get It Up by AC/DC,1,0,4,0
25,Live Wire,AC/DC,NaN,Live Wire by AC/DC,1,0,2,0
26,Moneytalks,AC/DC,NaN,Moneytalks by AC/DC,1,0,20,0
27,Night Prowler,AC/DC,1979,Night Prowler by AC/DC,1,1,1,1
28,Rock and Roll Ain't Noise Pollution,AC/DC,1980,Rock and Roll Ain't Noise Pollution by AC/DC,1,1,21,21
29,Shoot To Thrill,AC/DC,NaN,Shoot To Thrill by AC/DC,1,0,45,0
30,Shot Down In Flames,AC/DC,1979,Shot Down In Flames by AC/DC,1,1,2,2
31,Sin City,AC/DC,NaN,Sin City by AC/DC,1,0,1,0
32,T.N.T.,AC/DC,1975,T.N.T. by AC/DC,1,1,66,66
33,Thunderstruck,AC/DC,1990,Thunderstruck by AC/DC,1,1,34,34
34,Touch Too Much,AC/DC,1979,Touch Too Much by AC/DC,1,1,2,2
35,What Do You Do For Money Honey,AC/DC,NaN,What Do You Do For Money Honey by AC/DC,1,0,2,0
36,Who Made Who,AC/DC,1986,Who Made Who by AC/DC,1,1,12,12
37,Whole Lotta Rosie,AC/DC,1977,Whole Lotta Rosie by AC/DC,1,1,3,3
38,You Shook Me All Night Long,AC/DC,1980,You Shook Me All Night Long by AC/DC,1,1,138,138

In [32]:
rock_clean = rock.loc[rock['Release Year'].notnull()]

In [46]:
rock.loc[rock['Release Year'].isnull(), 'Release Year'] = 0

In [33]:
rock_clean['Release Year'].describe()

count     1653
unique      56
top       1973
freq       104
Name: Release Year, dtype: object

In [47]:
#rock_clean['Release Year'].astype('float')

In [48]:
#rock['Release Year'] == 'SONGFACTS.COM'
rock.loc[rock['Release Year'] == 'SONGFACTS.COM', 'Release Year'] = 0

In [49]:
rock.loc[rock['Release Year'] == 0]

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
1,Fantasy Girl,.38 Special,0,Fantasy Girl by .38 Special,1,0,3,0
10,"Baby, Please Don't Go",AC/DC,0,"Baby, Please Don't Go by AC/DC",1,0,1,0
13,CAN'T STOP ROCK'N'ROLL,AC/DC,0,CAN'T STOP ROCK'N'ROLL by AC/DC,1,0,5,0
16,Girls Got Rhythm,AC/DC,0,Girls Got Rhythm by AC/DC,1,0,24,0
24,Let's Get It Up,AC/DC,0,Let's Get It Up by AC/DC,1,0,4,0
...,...,...,...,...,...,...,...,...
2216,"I'm Bad, I'm Nationwide",ZZ Top,0,"I'm Bad, I'm Nationwide by ZZ Top",1,0,10,0
2218,Just Got Paid,ZZ Top,0,Just Got Paid by ZZ Top,1,0,2,0
2221,My Head's In Mississippi,ZZ Top,0,My Head's In Mississippi by ZZ Top,1,0,1,0
2222,Party On The Patio,ZZ Top,0,Party On The Patio by ZZ Top,1,0,14,0
2225,She Loves My Automobile,ZZ Top,0,She Loves My Automobile by ZZ Top,1,0,1,0

In [45]:
ans_6['Release Year'].astype('float')

0       1982.0
1          NaN
2       1981.0
3       1980.0
4       1975.0
         ...
2225       NaN
2226    1981.0
2227    1975.0
2228    1983.0
2229    1973.0
Name: Release Year, Length: 2229, dtype: float64

#### 6.B Look at the rows in which there is incorrect data in the `release` column.

In [13]:
# A:

#### 6.C. Clean up the data. Normally we may replace the offending data with null np.nan values, however we previously converted all of the nan values in the release column to zeros so we might as well continue with the same practice. Replacing with 0 (or nan) will allow us to convert the column to numeric.

In [14]:
# A:

### 7. Get summary statistics for the `release` column using the `.describe()` function.

Now that the `release` column is finally a numeric data type, we can apply the `.describe()` function.  

#### 7.A Print out the summary stats for the `release` column. What is the earliest and latest release date?

In [17]:
# A:

In [18]:
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [19]:
rock['Release Year'].describe()

count     1653
unique      56
top       1973
freq       104
Name: Release Year, dtype: object

In [24]:
rock['Release Year'] = rock['Release Year'].astype('float')

In [21]:
rock.loc[rock['Release Year'] == 'SONGFACTS.COM']

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
1504,Bullfrog Blues,Rory Gallagher,SONGFACTS.COM,Bullfrog Blues by Rory Gallagher,1,1,1,1

In [22]:
rock = rock.drop(1504)

In [23]:
rock.loc[rock['Release Year'] == 'SONGFACTS.COM']

Empty DataFrame
Columns: [Song Clean, ARTIST CLEAN, Release Year, COMBINED, First?, Year?, PlayCount, F*G]
Index: []

#### 7.B Based on the summary statistics, is there anything else wrong with the `release` column?

In [55]:
# A:
rock.loc[rock['Release Year'] == '1071', 'Release Year'] = 1971

In [56]:
rock.iloc[547]

Song Clean                    Levon
ARTIST CLEAN             Elton John
Release Year                   1971
COMBINED        Levon by Elton John
First?                            1
Year?                             1
PlayCount                         8
F*G                               8
Name: 547, dtype: object

In [ ]:
rock.loc[rows, columns] #reference by name
rock.iloc[rows, columns] #reference by index

In [53]:
rock.loc[:5, ['Song Clean', 'ARTIST CLEAN']]

               Song Clean  ARTIST CLEAN
0        Caught Up in You   .38 Special
1            Fantasy Girl   .38 Special
2         Hold On Loosely   .38 Special
3  Rockin' Into the Night   .38 Special
4       Art For Arts Sake          10cc
5              Kryptonite  3 Doors Down

In [54]:
rock.iloc[:5, [0, 1]]

               Song Clean ARTIST CLEAN
0        Caught Up in You  .38 Special
1            Fantasy Girl  .38 Special
2         Hold On Loosely  .38 Special
3  Rockin' Into the Night  .38 Special
4       Art For Arts Sake         10cc

In [25]:
rock['Release Year'].describe()

count    1652.000000
mean     1978.019976
std        24.191247
min      1071.000000
25%      1971.000000
50%      1977.000000
75%      1984.000000
max      2014.000000
Name: Release Year, dtype: float64

In [20]:
rock.head()

,Song Clean,ARTIST CLEAN,Release Year,COMBINED,First?,Year?,PlayCount,F*G
0,Caught Up in You,.38 Special,1982,Caught Up in You by .38 Special,1,1,82,82
1,Fantasy Girl,.38 Special,NaN,Fantasy Girl by .38 Special,1,0,3,0
2,Hold On Loosely,.38 Special,1981,Hold On Loosely by .38 Special,1,1,85,85
3,Rockin' Into the Night,.38 Special,1980,Rockin' Into the Night by .38 Special,1,1,18,18
4,Art For Arts Sake,10cc,1975,Art For Arts Sake by 10cc,1,1,1,1

In [21]:
rock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2230 entries, 0 to 2229
Data columns (total 8 columns):
Song Clean      2230 non-null object
ARTIST CLEAN    2230 non-null object
Release Year    1653 non-null object
COMBINED        2230 non-null object
First?          2230 non-null int64
Year?           2230 non-null int64
PlayCount       2230 non-null int64
F*G             2230 non-null int64
dtypes: int64(4), object(4)
memory usage: 139.5+ KB

In [38]:
def retu(x):
    return x['Song Clean']

In [39]:
rock.apply(retu, axis = 1)

0                                  Caught Up in You
1                                      Fantasy Girl
2                                   Hold On Loosely
3                            Rockin' Into the Night
4                                 Art For Arts Sake
                           ...
2225                        She Loves My Automobile
2226                              Tube Snake Boogie
2227                                           Tush
2228                                     TV Dinners
2229    WAITIN' FOR THE BUS/JESUS JUST LEFT CHICAGO
Length: 2230, dtype: object

_Looking at the DataFrame that contains the year 1071, we can see that the year was probably corrupted and should be replaced with something else if possible._

### 8. Make changes and investigate using custom functions with `.apply()`.

Let's say we want to traverse every single row in our data set and apply a function to that row.

#### 8.A Write a function that will take a row of a DataFrame and print out the song, artist, and whether or not the release date is < 1970.

In [17]:
# A:

#### 8.B Using the `.apply()` function, apply the function you wrote to the first four rows of the DataFrame.

You will need to tell the `apply` function to operate row by row. Setting the keyword argument as `axis=1` indicates that the function should be applied to each row individually.

In [18]:
# A:

You'll notice that there will be a final output Series of `None` values. The `.apply()` function, if a return value is not specified, will return a Series of `None` values (similar to how the default return for Python functions is `None` when a return statement is not specified).

### 9. Write a function that converts cells in a DataFrame to float and otherwise replaces them with `np.nan`.

If applied to our data, it would keep only the numeric information and otherwise input null values.

Recall that the try-except syntax in Python is a great way to try something and take another action if the initial step fails:

```python
try:
    Perform some action.
except:
   Perform some other action if the first failed with an error.
```

#### 9.A Write the function that takes a column and converts all of its values to float if possible and `np.nan` otherwise. The return value should be the converted Series.

In [19]:
# A:

#### 9.B Try your function out on the rock song data and ensure the output is what you expected.

In [20]:
# A:

#### 9.C Describe the new float-only DataFrame.

In [21]:
# A: