In [10]:
# Enter Student names here:

student_names = ['Yetunde',
 'Lori',
 'Tianchun',
 'Aiden',
 'Tiga',
 'Emma',
 'Weijia',
 'Yejoon',
 'Yizhou',
 'Geoffrey',
 'Alisa',
 'Lauren',
 'Munro',
 'Riba',
 'Quinn',
 'Yu-Ying',
 'Phoebe',
 'Lily']

---

### 1) What are the types of the following variables?

In [2]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'steven':'segal', 'master':'pai'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

In [3]:
# A:

---

### 2) What is the difference between a "mutable" and an "immutable" object?

In [4]:
# A:

---

### 3) Print the `student_names` list.

In [5]:
# A:

---

### 4) Print the names of the first and last students on the list.

In [6]:
# A:

---

### 5) Print the first five names in the `student_names` list.

In [7]:
# A:

---

### 6) Combine the ninth and 10th student names into a single string, separated by a space. Assign that string to a variable.

In [8]:
# A:

---

### 7) Append an animal to the list of animals.

In [9]:
animals = ['duck', 'rat', 'boar', 'slug', 'mammoth', 'gazelle']

In [10]:
# A:

---

### 8) Print the length of the `animals` list.

In [11]:
# A:

---

### 9) Divide the length of the fifth animal by the second.

In [12]:
# A:

---

### 10) Perform the same division, but ensure the output is a decimal number.

In [13]:
# A:

---

### 11) Demonstrate two different ways to combine the `animals` list and the `numbers` list.

In [14]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [15]:
# A:

---

### 12) Remove `'kiefer'` from the list and insert your own name in its place.

In [16]:
names = ['doug', 'billy', 'kiefer', 'kian', 'sam']

In [17]:
# A:

---

### 13) Manually check whether or not one element of `mix` is greater than another.

In [11]:
mix = [1, 4, 12.4, True, 'a', '34']

In [1]:
# A:

---

### 14) Find the index of `'a'` in the list.

In [2]:
# A:

---

### 15) Reverse the `mix` list.

In [22]:
# A:

---

### 16) Remove the last element of `mix`  and assign it to a variable.

In [23]:
# A:

---

### 17) Count the number of times `0` appears in the following list.

In [24]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

In [25]:
# A:

---

### 18) Create an SF (San Francisco) zip code dictionary.

With the following key-value pairs:

    'sunset':94122
    'presidio':94129
    'soma':94105
    'marina':94123

In [33]:
# A:
sf = {'sunset': 94122,
'presidio': 94129,
'soma': 94105,
'marina': 94123}

In [34]:
sf

{'sunset': 94122, 'presidio': 94129, 'soma': 94105, 'marina': 94123}

In [35]:
v = sf.pop('soma')

94105

In [36]:
sf

{'sunset': 94122, 'presidio': 94129, 'marina': 94123}

In [6]:
soma_zip = sf['soma']

In [18]:
a = [1, 2, 3]
b = (1, 2, 10)
c = {'a': 1, 'b': 2, 'c': 3}

In [19]:
for num in a:
    print(num)

1
2
3

In [20]:
for num in range(len(a)):
    print(num, a[num])

0 1
1 2
2 3

In [23]:
for i, num in enumerate(a):
    print(i, num, a[i])

0 1 1
1 2 2
2 3 3

In [24]:
for i, num in enumerate(b):
    print(i, num)

0 1
1 2
2 10

In [14]:
type(b)

tuple

In [8]:
a[0]

1

In [9]:
b[0]

1

In [11]:
c['a']

1

---

### 19) Get the zip code for `'soma'` and assign it to a variable.

In [25]:
# A:
soma = sf['soma']

---

### 20) Get the keys out of the dictionary.

In [26]:
# A:
sf.keys()

dict_keys(['sunset', 'presidio', 'soma', 'marina'])

---

### 21) Get the key-value pairs out of the dictionary as a list of tuples.

In [27]:
# A:
sf.values()

dict_values([94122, 94129, 94105, 94123])

In [31]:
zip_code_list = []
for value in sf:
    print(value, sf[value])
    zip_code_list.append((value, sf[value]))

sunset 94122
presidio 94129
soma 94105
marina 94123

In [32]:
zip_code_list

[('sunset', 94122), ('presidio', 94129), ('soma', 94105), ('marina', 94123)]

---

### 22) Add The Castro to the dictionary with the zip code 94114.

In [30]:
# A:

---

### 23) Combine the following smaller dictionary of districts with the SF zip code dictionary.

In [39]:
small = {'outer_richmond':94121, 'dogpatch':94107}

In [40]:
# A:
sf.update(small)

In [41]:
sf

{'sunset': 94122,
 'presidio': 94129,
 'marina': 94123,
 'outer_richmond': 94121,
 'dogpatch': 94107}

---

### 24) Remove the `'sunset'` zip code and assign it to a variable.

In [33]:
# A:

---

### 25) Check if the `'dogpatch'` is in the dictionary.

In [37]:
# A:
sf['dogpath']

KeyError: 'dogpath'